
<footer class="page-footer">
	<div class="page-footer__wrapper">
		<p class="page-footer__contacts">
			<b>Барбершоп "Бородинский"</b><br>
			г. Санкт-Петербург, ул. Большая Конюшенная 19/8 <br>
			<a href="tel:+712342342342"><span class="page-footer__contacts-hidden">Тел.:</span>+7 (912) 123-45-67</a>
		</p>
		<p class="page-footer__social">
			<span class="social-links">
				<a href="vk.com" class="social-link  social-link--vk">Мы в Вконтакте</a>
				<a href="facebook.com" class="social-link  social-link--fb">Мы в Фейсбуке</a>
				<a href="instagramm.com" class="social-link  social-link--in">Мы в Инстаграмме</a>
			</span>
		</p>
		<p class="page-footer__copyright">
			Разработано:
			<a href="#" class="btn  page-footer__copyright">HTML Academy</a>
		</p>
	</div>
</footer>
<script src="js/main.js"></script>
</body>
</html>