<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
   <header class="page-header">
       <h1 class="visually-hidden">Барбершоп "Бородинский" - истинно мужская классика</h1>
       <div class="page-header__logo">
           <img src="img/logotype.png" alt="Барбершоп &#8220;Бородинский&#8221;" width="370" height="153">
       </div>
       <nav class="main-nav  main-nav--closed  main-nav--nojs">
           <button class="main-nav__toggle" type="button">Открыть меню</button>
           <div class="main-nav__wrapper">
               <ul class="main-nav__items">
                   <li class="main-nav__item  main-nav__item--active"><a>Главная</a></li>
                   <li class="main-nav__item"><a href="#">Наши работы</a></li>
				   <li class="main-nav__item"><a href="#">Записаться</a></li>
                   <li class="main-nav__item"><a href="#">Контакты</a></li>
				   <li class="main-nav__item"><a href="#">Html Academy</a></li>
               </ul>
               <ul class="main-nav__user-items">
                   <li class="main-nav__user-item"><a href="#" title="Войти" class="main-nav__user-login">Вход</a></li>
               </ul>
           </div>
       </nav>
   </header>
   